<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<% @rooms.each do |r| %>
    <p>
        <%= r.title %>
        <%= image_tag "/get_image/#{room.id}" %>
    </p>
    <% if current_user %>
         <%= link_to '参加', chatroom_index_path %>
    <% end %>
<% end %>
